# Heart attacks Among Navajo Indians

**Date:** 2021-12-01

**Reference:** M249, Book 1, Part 2

In [1]:
suppressPackageStartupMessages(library(tidyverse))
library(R249)
library(DescTools)

## Summary

## Get the data

In [2]:
(dat <- as_tibble(read.csv(file = "..\\..\\data\\navajoindians.csv")))

  count cases       controls
1  9    diabetes    diabetes
2 37    diabetes    no diabetes
3 16    no diabetes diabetes
4 82    no diabetes no diabetes

## Prepare the data

Cast the `cases`, `controls` columns to factors.

In [3]:
labexp <- c("no diabetes", "diabetes")
(sorteddat <- dat %>%
    mutate(cases = factor(dat$cases, labexp)) %>%
    mutate(controls = factor(dat$controls, labexp)) %>%
    arrange(cases, controls))

  count cases       controls
1 82    no diabetes no diabetes
2 16    no diabetes diabetes
3 37    diabetes    no diabetes
4  9    diabetes    diabetes

Pull the `count` column as a vector and initilise a matrix.

In [4]:
datmat <- sorteddat$count %>%
    matrix(nrow = 2, ncol = 2, dimnames = list(labexp, labexp))
print(datmat)

            no diabetes diabetes
no diabetes          82       37
diabetes             16        9

## Mantel-Haenszel odds ratio

Calculate the odds ratio.

In [5]:
oddsratio_matched(datmat)

                         oddsratio stderr    lcb      ucb
1-1 matched case-control 2.3125    0.2992107 1.286451 4.156907

## McNemar's test for no association

In [6]:
mcnemar.test(datmat)

	McNemar's Chi-squared test with continuity correction

data:  datmat
McNemar's chi-squared = 7.5472, df = 1, p-value = 0.00601