# Post-Traumatic Stress Disorder in US Veterans

**Date:** 2021-12-01

**Reference:** M249, Book 1, Part 2

In [1]:
suppressPackageStartupMessages(library(tidyverse))
library(R249)
library(DescTools)

## Summary

## Get the data

In [2]:
(dat <- as_tibble(read.csv(file = "..\\..\\data\\gulfdose.csv")))

   count dose        outcome
1   174  extreme     ptsd
2   595  extreme     no ptsd
3   260  very severe ptsd
4  1155  very severe no ptsd
5   362  severe      ptsd
6  2688  severe      no ptsd
7    97  high        ptsd
8  1286  high        no ptsd
9   180  moderate    ptsd
10 2783  moderate    no ptsd
11   95  minimal     ptsd
12 2749  minimal     no ptsd

## Prepare the data

Cast the `dose`, `outcome` columns to factors.

In [3]:
labdose <- c("minimal", "moderate", "high", "severe", "very severe", "extreme")
labout <- c("no ptsd", "ptsd")
(sorteddat <- dat %>%
    mutate(dose = factor(dat$dose, labdose)) %>%
    mutate(outcome = factor(dat$outcome, labout)) %>%
    arrange(dose, outcome))

   count dose        outcome
1  2749  minimal     no ptsd
2    95  minimal     ptsd
3  2783  moderate    no ptsd
4   180  moderate    ptsd
5  1286  high        no ptsd
6    97  high        ptsd
7  2688  severe      no ptsd
8   362  severe      ptsd
9  1155  very severe no ptsd
10  260  very severe ptsd
11  595  extreme     no ptsd
12  174  extreme     ptsd

Pull the `count` column as a vector and initilise a matrix.

In [4]:
datmat <- sorteddat$count %>%
    matrix(nrow = 6, ncol = 2, byrow = TRUE, dimnames = list(labdose, labout))
datmat

            no ptsd ptsd
minimal     2749     95
moderate    2783    180
high        1286     97
severe      2688    362
very severe 1155    260
extreme      595    174

## Dose-specific odds

Calculate the odds and log(odds) of each dose.

In [5]:
odds(datmat)

            odds       log(odds)
minimal             NA        NA
moderate    0.06467840 -2.738328
high        0.07542768 -2.584581
severe      0.13467262 -2.004908
very severe 0.22510823 -1.491174
extreme     0.29243697 -1.229506

## Dose-specific odds ratios

Calculate the dose-specific odds ratio for each dose.

In [6]:
oddsratio(datmat)

            oddsratio stderr    lcb      ucb
minimal           NA         NA       NA        NA
moderate    1.871589  0.1296340 1.451663  2.412987
high        2.182639  0.1482463 1.632279  2.918565
severe      3.897000  0.1184252 3.089774  4.915121
very severe 6.513921  0.1249081 5.099417  8.320789
extreme     8.462203  0.1353436 6.490509 11.032859

## Chi-squared test for no linear trend

In [7]:
chisq_lineartrend(datmat)

       chisq    pval
result 436.6505 5.800172e-97