# Number of Cigarettes Smoked and Lung Cancer

**Date:** 2021-12-01

**Reference:** M249, Book 1, Part 2

In [1]:
suppressPackageStartupMessages(library(tidyverse))
library(R249)

## Summary

## Get the data

In [2]:
(dat <- as_tibble(read.csv(file = "..\\..\\data\\smoking2.csv")))

   count dose  outcome
1   32   50+   case
2   13   50+   control
3  136   25-49 case
4   71   25-49 control
5  196   15-24 case
6  190   15-24 control
7  250   5-14  case
8  293   5-14  control
9   35   0     case
10  82   0     control

## Prepare the data

Cast the `dose`, `outcome` columns to factors.

In [3]:
labdose <- c("0", "5-14", "15-24", "25-49", "50+")
labout <- c("control", "case")
(sorteddat <- dat %>%
    mutate(dose = factor(dat$dose, labdose)) %>%
    mutate(outcome = factor(dat$outcome, labout)) %>%
    arrange(dose, outcome))

   count dose  outcome
1   82   0     control
2   35   0     case
3  293   5-14  control
4  250   5-14  case
5  190   15-24 control
6  196   15-24 case
7   71   25-49 control
8  136   25-49 case
9   13   50+   control
10  32   50+   case

Pull the `count` column as a vector and initilise a matrix.

In [4]:
datmat <- sorteddat$count %>%
    matrix(nrow = 5, ncol = 2, byrow = TRUE, dimnames = list(labdose, labout))
datmat

      control case
0      82      35
5-14  293     250
15-24 190     196
25-49  71     136
50+    13      32

## Dose-specific odds

Calculate the odds and log(odds) of each dose.

In [5]:
odds(datmat)

      odds      log(odds)
0            NA          NA
5-14  0.8532423 -0.15871169
15-24 1.0315789  0.03109059
25-49 1.9154930  0.64997501
50+   2.4615385  0.90078655

## Dose-specific odds ratios

Calculate the dose-specific odds ratio for each dose.

In [6]:
oddsratio(datmat)

      oddsratio stderr    lcb      ucb
0           NA         NA       NA        NA
5-14  1.999025  0.2194983 1.300112  3.073658
15-24 2.416842  0.2261233 1.551571  3.764652
25-49 4.487726  0.2494073 2.752520  7.316818
50+   5.767033  0.3859270 2.706767 12.287232

## Chi-squared test for no linear trend

In [7]:
chisq_lineartrend(datmat)

       chisq    pval
result 43.83024 3.581287e-11